# GOOGLE_SHEETS_ID: O ID da sua planilha (encontrado na URL da planilha)
GOOGLE_SHEETS_ID=
# GOOGLE_SERVICE_ACCOUNT_EMAIL: O e-mail da conta de serviço
GOOGLE_SERVICE_ACCOUNT_EMAIL=
# GOOGLE_PRIVATE_KEY: A chave privada da conta de serviço (formato string)
GOOGLE_PRIVATE_KEY=
